<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amiibo</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      const serverPort = "<%= port %>"
    </script>

    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <nav>
      <div class="nav-section">
        <h2>Types</h2>
        <ul id="types" data-filter="type"></ul>
      </div>

      <div class="nav-section">
        <h2>Amiibo Séries</h2>
        <ul id="amiiboSeries" data-filter="amiiboSeries"></ul>
      </div>

      <div class="nav-section">
        <h2>Game Séries</h2>
        <ul id="gameSeries" data-filter="gameSeries"></ul>
      </div>

      <div class="nav-section">
        <h2>Personnages</h2>
        <ul id="characters" data-filter="character"></ul>
      </div>
    </nav>

    <div class="content">
      <div class="title"></div>
      <div class="main" />
      </div>

      <script src="main.js"></script>
    </body>
  </html>
